*.iml
.gradle
/local.properties
/08 implementation/Mobile App/.idea/caches
/08 implementation/Mobile App/.idea/libraries
/08 implementation/Mobile App/.idea/modules.xml
/08 implementation/Mobile App/.idea/workspace.xml
/08 implementation/Mobile App/.idea/navEditor.xml
/08 implementation/Mobile App/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
08 implementation/Mobile App/local.properties
